.quizPage-container {
  margin: 2rem auto;
}

.quizPage-quizSection {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-items: center;
  max-width: 90vw;
  margin: 0 auto;
  padding: 1rem;
}

@media (max-width: 320px) {
  .quizPage-quizSection {
    grid-template-columns: 1fr;
  }
}

.quizPage-container button {
  border: 2px solid gray;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 0.25rem auto;
  padding: 0.25rem 0.5rem;
}

.quizPage-btnSection {
  align-items: center;
  display: flex;
  gap: 1rem;
  flex-flow: column nowrap;
  margin: 1rem;
}

.quizPage-btnSection p {
  font-weight: bold;
}
