.quizPage-container {
  margin: 2rem auto;
}

.quizPage-quizSection {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.quizPage-container button {
  border: 2px solid gray;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 0.25rem auto;
  padding: 0.25rem 0.5rem;
}

.quizPage-btnSection {
  align-items: center;
  display: flex;
  gap: 1rem;
  flex-flow: column nowrap;
  margin: 1rem;
}

.quizPage-btnSection p {
  font-weight: bold;
}
