.quizPage-container {
  margin: auto;
}

.quizPage-container section {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  text-align: center;
}

.quizPage-container button {
  border: 2px solid gray;
  cursor: pointer;
  margin: 0.25rem;
  padding: 0.25rem;
}
