.quizCard-container {
  border: 2px solid blue;
  border-radius: 0.5rem;
  margin: 0.5rem auto;
  max-width: 90vw;
  padding: 1rem;
  width: 18rem;
}

.quizCard-container h2 {
  font-weight: bold;
  margin: 0.5rem 0;
}

.quizCard-container button {
  border: 2px solid gray;
  cursor: pointer;
  margin: 0.25rem;
  width: 100%;
  padding: 0.25rem;
}

.quizCard-container button.selected {
  background-color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

.quizCard-container p {
  font-style: italic;
  margin: 0.5rem 0;
}

.quizCardResult-green {
  color: green;
}

.quizCardResult-red {
  color: red;
}
