/*

Colors:

Background (Dark Gray): #1a1a1a to #242424

Lines/Shapes (Light Gray): #b0b0b0 to #e0e0e0

Yellow/Gold: #a87e35 to #c1944e

Red/Orange: #c15f4e to #e3725b

Highlights: #e3725b, #a87e35, #6f9c6f (Muted Green)

*/

.nodeInterface-main {
  background-image: radial-gradient(
    circle,
    #242424,
    #222222,
    #202020,
    #1e1e1e,
    #1c1c1c,
    #1b1b1b,
    #1b1b1b,
    #1a1a1a,
    #1a1a1a,
    #1a1a1a,
    #1a1a1a,
    #1a1a1a
  );
  color: #b0b0b0;
  min-height: 100vh;
}

.terminal {
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid #6f9c6f;
  border-radius: 5px;
  height: 150px;
  width: 250px;
  margin: 10rem;
}

.terminal-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 25px;
  background-color: #b0b0b0;
}

.terminal-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 5px;
}

.terminal-console {
  color: #1a1a1a;
  margin-left: 10px;
}

.terminal-main {
  display: flex;
  flex-flow: column nowrap;
}

.terminal-output {
  width: 150px;
  height: 5px;
  margin: 5px;
  background-color: #6f9c6f;
}

.hexagon {
  position: relative;
  width: 200px;
  height: 100px;
  background-color: #6f9c6f;
  margin: 10rem auto 0;
}

.hexagon::before,
.hexagon::after {
  content: "";
  position: absolute;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
}

.hexagon::before {
  bottom: 100%;
  border-bottom: 50px solid #6f9c6f;
}

.hexagon::after {
  top: 100%;
  border-top: 50px solid #6f9c6f;
}

.hexagon-inner-1 {
  position: relative;
  width: 180px;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.7);
  margin: auto;
  top: 5px;
}

.hexagon-inner-1::before,
.hexagon-inner-1::after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 90px solid transparent;
  border-right: 90px solid transparent;
}

.hexagon-inner-1::before {
  bottom: 100%;
  border-bottom: 45px solid rgba(0, 0, 0, 0.7);
}

.hexagon-inner-1::after {
  z-index: 1;
  top: 100%;
  border-top: 45px solid rgba(0, 0, 0, 0.7);
}

.hexagon-inner-2 {
  position: relative;
  width: 160px;
  height: 80px;
  background-color: #6f9c6f;
  margin: auto;
  top: 5px;
}

.hexagon-inner-2::before,
.hexagon-inner-2::after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
}

.hexagon-inner-2::before {
  bottom: 100%;
  border-bottom: 40px solid #6f9c6f;
}

.hexagon-inner-2::after {
  z-index: 2;
  top: 100%;
  border-top: 40px solid #6f9c6f;
}

.hexagon-inner-3 {
  position: relative;
  width: 140px;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.65);
  margin: auto;
  top: 5px;
}

.hexagon-inner-3::before,
.hexagon-inner-3::after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
}

.hexagon-inner-3::before {
  bottom: 100%;
  border-bottom: 35px solid rgba(0, 0, 0, 0.65);
}

.hexagon-inner-3::after {
  z-index: 3;
  top: 100%;
  border-top: 35px solid rgba(0, 0, 0, 0.65);
}

.hexagon-inner-4 {
  position: relative;
  width: 120px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.25);
  margin: auto;
  top: 5px;
}

.hexagon-inner-4::before,
.hexagon-inner-4::after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
}

.hexagon-inner-4::before {
  bottom: 100%;
  border-bottom: 30px solid rgba(0, 0, 0, 0.25);
}

.hexagon-inner-4::after {
  z-index: 4;
  top: 100%;
  border-top: 30px solid rgba(0, 0, 0, 0.25);
}

.hexagon-inner-5 {
  position: relative;
  width: 100px;
  height: 50px;
  background-color: #6f9c6f;
  margin: auto;
  top: 5px;
}

.hexagon-inner-5::before,
.hexagon-inner-5::after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexagon-inner-5::before {
  bottom: 100%;
  border-bottom: 25px solid #6f9c6f;
}

.hexagon-inner-5::after {
  z-index: 5;
  top: 100%;
  border-top: 25px solid #6f9c6f;
}

.circle {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.7);
  width: 20px;
  height: 20px;
  margin: auto;
  top: 20px;
  border-radius: 50%;
}
