:root {
  /* Colors */
  --color-bg__main: #e0e1dd;
  --color-icon__main: #c1121f;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.game-ui {
  background: var(--color-bg__main);
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  justify-content: space-between;
  margin: auto;
  padding: 0.5rem;
  width: 100vw;
}

.game-ui__top,
.game-ui__bottom {
  display: flex;
  justify-content: space-between;
}

.game-ui__icon {
  background: var(--color-icon__main);
  height: 0.5rem;
  width: 0.5rem;
}
