html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.game-ui {
  background: gray;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  justify-content: space-between;
  margin: auto;
  width: 100vw;
}
