.cameraUi-main {
  background-color: gray;
  height: 100%;
  width: 100%;
}

.cameraUi-topSection {
  display: flex;
  justify-content: space-between;
}

.cameraUi-topLeftSection {
  color: white;
  font-weight: bold;
}

.battery-section {
  display: flex;
  gap: 5px;
}

.battery-wrapper {
  align-items: center;
  display: flex;
}

.battery-head {
  border: 3px solid white;
  border-right: none;
  height: 12px;
  width: 5px;
}

.battery-body {
  border: 3px solid white;
  height: 25px;
  width: 50px;
}

.battery-charge {
  background-color: white;
  border: 3px solid gray;
  /* 
  30px 0% (Top-Left): shifts right by 30 pixels; start of the slash;
  100% 0% (Top-Right): top-right corner;
  100% 100% (Bottom-Right): bottom-right corner;
  0% 100% (Bottom-Left): bottom-left corner;

  If text is placed inside this trapezoid, it will still align to the original rectangular bounding box. To prevent text from clipping or looking too close to the slashed edge, add some left padding to the element (e.g., padding-left: 50px;).
  */
  clip-path: polygon(30px 0%, 100% 0%, 100% 100%, 0% 100%);
  height: 100%;
  width: 100%;
}

.battery-time {
  font-size: 1.2rem;
}

.camera-resolution {
  margin-left: 2.5px;
}

.cameraUi-topRightSection {
  color: white;
  font-size: 1.5rem;
}

.recordingTime-section {
  align-items: center;
  display: flex;
  gap: 5px;
}

.play-icon {
  background-color: white;
  /* 
  Cuts the square into a right-pointing triangle.

  0% 0% starts at the top-left corner;
  100% 50% shoots out to the center-right point;
  0% 100% drops down to the bottom-left corner, completing the arrow shape;
  */
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  height: 20px;
  width: 20px;
}

.recordedTime-section {
  align-items: center;
  display: flex;
  font-size: 1rem;
  gap: 5px;
  justify-content: end;
}

.tape-icon {
  align-items: center;
  border: 3px solid white;
  display: flex;
  height: 20px;
  justify-content: space-around;
  position: relative;
  width: 40px;
}

.tape-icon-circle {
  border: 1px solid white;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

.tape-icon-connectionLine {
  background-color: white;
  height: 1px;
  position: absolute;
  top: 2px;
  width: 16px;
}
