@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

:root {
  /* Colors */
  --main-background: gray;
  --main-text: white;

  /* Dimensions */
  --main-height: 20px;
  --main-width: 20px;
  --main-gap: 0.25rem;
}

.camera-ui {
  background-image: url("../../assets/images/city-view-background.jpg");
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: space-between;
  margin: auto;
  max-height: 768px;
  max-width: 1024px;
  padding: 1rem 0.25rem;
  width: 100%;

  @media (width >= 500px) {
    padding: 1rem;
  }
}

.camera-ui__top {
  display: flex;
  justify-content: space-between;
}

.camera-ui__group {
  color: white;
  font-weight: bold;
}

.battery {
  display: flex;
  gap: var(--main-gap);
}

.battery__icon {
  align-items: center;
  display: flex;
}

.battery__head {
  border: 3px solid white;
  border-right: none;
  height: 12px;
  width: 5px;
}

.battery__body {
  border: 3px solid white;
  display: flex;
  height: var(--main-height);
  justify-content: end;
  width: 25px;

  @media (width >= 500px) {
    height: 25px;
    width: 50px;
  }
}

.battery__charge {
  background-color: white;
  /* 
  30px 0% (Top-Left): shifts right by 30 pixels; start of the slash;
  100% 0% (Top-Right): top-right corner;
  100% 100% (Bottom-Right): bottom-right corner;
  0% 100% (Bottom-Left): bottom-left corner;

  If text is placed inside this trapezoid, it will still align to the original rectangular bounding box. To prevent text from clipping or looking too close to the slashed edge, add some left padding to the element (e.g., padding-left: 50px;).
  */
  clip-path: polygon(12.5px 0%, 100% 0%, 100% 100%, 0% 100%);
  height: 10px;
  margin: auto;
  width: 15px;

  @media (width >= 500px) {
    clip-path: polygon(30px 0%, 100% 0%, 100% 100%, 0% 100%);
    height: 15px;
    width: 40px;
  }
}

.battery__time {
  font-size: 1rem;

  @media (width >= 500px) {
    font-size: 1.2rem;
  }
}

.camera-ui__resolution {
  margin-left: 0.1rem;
}

.camera-ui__group--right {
  color: white;
  font-size: 1.5rem;
}

.status-row {
  align-items: center;
  display: flex;
  gap: var(--main-gap);
  justify-content: end;
}

.icon--record {
  background-color: white;
  /* 
  Cuts the square into a right-pointing triangle.

  0% 0% starts at the top-left corner;
  100% 50% shoots out to the center-right point;
  0% 100% drops down to the bottom-left corner, completing the arrow shape;
  */
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  height: 15px;
  margin-right: 0.25rem;
  width: 15px;

  @media (width >= 500px) {
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    height: var(--main-height);
    width: var(--main-width);
  }
}

.status-row__text {
  font-family: "Fira Code", monospace;
  font-size: 1rem;

  /* 
  This tells the browser to use the font's alternative slashed zero (only work if the font actually contains the slashed zero character in its code, e.g.: Inter, SF Pro (Apple), Segoe UI (Windows), Consolas, and Monaco):
  font-variant-numeric: slashed-zero;
  Fallback for older browsers:
  font-feature-settings: "zero";

  */

  @media (width >= 500px) {
    font-size: 1.5rem;
  }
}

.icon--tape {
  align-items: center;
  border: 2px solid white;
  display: flex;
  height: var(--main-height);
  justify-content: space-around;
  position: relative;
  width: 30px;

  @media (width >= 500px) {
    border: 3px solid white;
    width: 35px;
  }
}

.icon--tape-circle {
  border: 1px solid white;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

.icon--tape-line {
  background-color: white;
  height: 0.5px;
  position: absolute;
  top: 3.25px;
  width: 15px;

  @media (width >= 500px) {
    top: 2.5px;
  }
}

.camera-ui__bottom {
  align-items: center;
  color: white;
  display: flex;
  font-size: 0.75rem;
  font-weight: bold;
  gap: var(--main-gap);
  justify-content: center;

  @media (width >= 500px) {
    font-size: 1.5rem;
    gap: 1rem;
  }
}

.stop-icon {
  background-color: white;
  height: 15px;
  margin-right: 7px;
  width: 15px;

  @media (width >= 500px) {
    height: var(--main-height);
    margin-right: 30px;
    width: var(--main-width);
  }
}

.rewind-icon {
  display: flex;
  flex-wrap: nowrap;
}

.rewind-triangle {
  background-color: white;
  /* Cuts the square into a left-pointing triangle.

  100% 0% starts at the top-right corner;
  0% 50% shoots out to the center-left point (the tip);
  100% 100% drops down to the bottom-right corner, completing the arrow shape;
  */
  clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
  height: 15px;
  width: 15px;

  @media (width >= 500px) {
    clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
    height: var(--main-height);
    width: var(--main-width);
  }
}

.previous-icon {
  border: 3px solid white;
  display: flex;
  flex-wrap: nowrap;
  padding: 3px;
}

.previous-triangle {
  background-color: white;
  /* Cuts the square into a left-pointing triangle.

  100% 0% starts at the top-right corner;
  0% 50% shoots out to the center-left point (the tip);
  100% 100% drops down to the bottom-right corner, completing the arrow shape;
  */
  clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
  height: 10px;
  width: 10px;
}

.play-icon {
  background-color: white;
  /* 
  Cuts the square into a right-pointing triangle.

  0% 0% starts at the top-left corner;
  100% 50% shoots out to the center-right point;
  0% 100% drops down to the bottom-left corner, completing the arrow shape;
  */
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  height: 15px;
  margin-left: 5px;
  margin-right: 10px;
  width: 15px;

  @media (width >= 500px) {
    height: var(--main-height);
    margin-right: 15px;
    width: var(--main-width);
  }
}

.pause-icon {
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
  margin-right: 5px;
}

.pause-line {
  background-color: white;
  height: 15px;
  width: 3px;

  @media (width >= 500px) {
    height: var(--main-height);
    width: 3px;
  }
}

.next-icon {
  border: 3px solid white;
  display: flex;
  flex-wrap: nowrap;
  padding: 3px;
}

.next-triangle {
  background-color: white;
  /* 
  Cuts the square into a right-pointing triangle.

  0% 0% starts at the top-left corner;
  100% 50% shoots out to the center-right point;
  0% 100% drops down to the bottom-left corner, completing the arrow shape;
  */
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  height: 10px;
  width: 10px;
}

.fastForward-icon {
  display: flex;
  flex-wrap: nowrap;
  margin-right: 5px;
}

.fastForward-triangle {
  background-color: white;
  /* 
  Cuts the square into a right-pointing triangle.

  0% 0% starts at the top-left corner;
  100% 50% shoots out to the center-right point;
  0% 100% drops down to the bottom-left corner, completing the arrow shape;
  */
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  height: 15px;
  width: 15px;

  @media (width >= 500px) {
    height: var(--main-height);
    width: var(--main-width);
  }
}
