@import "tailwindcss";

/*

 className="flex min-h-screen flex-col items-center justify-center bg-gray-100"

*/

#root {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  background-color: #f3f4f6;
  min-height: 100vh;
}

/* Timer spin animation */
@keyframes spin-360 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spin-360 {
  display: inline-block;
  animation: spin-360 3s ease-in-out infinite;
}
